@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "quicksand",sans-serif;
}
a{
    font-weight: 600;
}
a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(images/backgroundlogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:40px 20px;
}
main{
    display: grid;
    grid-template-columns: 45% 50%;
    place-items: center;
    width: min(700px,95%);
    background: rgba(49,49,49,0.2);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 25px;
}
/*left side*/
.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:#8e52a4;
    padding: 20px;
}
.left-side h1{
    text-align: center;
    color: #f6f6f6;
    font-size: 1.2rem;
    font-size: 500;
    line-height: 1.4;
    margin-bottom: 32px;
    user-select: none;
}
/*button group*/
.btn-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 6px;
    width: 220px;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 10px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    transform: scale(1);
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.5s,color ease 0.5s;
}
.btn:focus{
    transform: scale(0.97s);
}
.btn:hover{
    background-color:rgb(156,107,166);
    color: #eee;
}
.logo{
    font-size: 1.3rem;
}
/*right side*/
.right-side{
    padding: 60px 40px;
    color: #f6f6f6;
}
.title{
    text-align: center;
    user-select: none;
    margin-bottom: 12px;
}
.title p{
    font-size: 1erm;
    font-weight: 400;
    margin-bottom: 42px;
}
.title a{
    color:rgb(142,82,164);
    font-size: 1rem;
    transition: all 0.4s ease;    
}
.title a:hover{
    color: #f6f6f6;
}
/*inputs and labels*/
input{
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #dbd9d9;
    border-radius: 5px;
    outline: 0;
    background-color: transparent;
    color: #fff;
    margin: 6px 0 18px;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.5s;
}
input:focus{
border:2px solid rgb(142,82,164);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
    transition: background-color 5000s ease-in-out 0s;
}
label{
    font-weight: 600;
    font-size: 0.9rem;
    user-select: none;
}
/*login button*/
.login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    margin: 16px 0 24px;
}
/*links*/
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links a{
    color: #f6f6f6;
}
.links a:hover{
    color: rgb(142,82,164);
}
.container{
    display: block;
    position: relative;
    font-size: 0.85rem;
    padding-left: 22px;
    -webkit-user-select: none;
    user-select: none;
    cursor: poi;
}
/*hide browser default checkbox*/
.container input{
    position:absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;

}
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    height: 16px;
    width: 16px;
}
.container input:checked ~ .checkmark{
    background-color: rgb(142,82,164);
}
.checkmark::after{
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark::after{
    display: block;
}
.container .checkmark::after{
    border: solid;
    width: 6px;
    height: 10px;
    border-width: 0 3px 3px 0 ;
    left: 5px;
    top: 1px;
    transform: rotate(45deg);
    -webkit-transform:rotate(45deg);
}